@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.status {
  width: $status-width;
  min-height: $status-height;
  border-radius: 6px;
  @include positionWithJustify;
  gap: $base-gap;
  align-items: center;
  span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}
.paid {
  background-color: rgba($green, 0.1);
  color: $green;
  span {
    background-color: $green;
  }
}
.pending {
  background-color: rgba($orange, 0.1);
  color: $orange;
  span {
    background-color: $orange;
  }
}
.draft {
  background-color: rgba($grey, 0.1);
  color: $midnight-blue;
  span {
    background-color: $grey;
  }
}
