@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.toolbar {
  width: 100%;
  min-height: $invoice-toolbar-height;
  padding: 0 $base-padding;
  background-color: $white;
  margin-top: $base-margin;
  background-color: bisque;
  @include positionWithJustify(space-between);

  .invoice-status {
    @include position(row, $base-gap);
    align-items: center;
  }
  button {
    @include button;
    padding: $base-padding;
  }
  .edit {
    @include actionButton(#f9fafe);
    color: #7e88c3;
  }
  .delete {
    @include actionButton($orange-red);
  }
  .mark {
    @include actionButton($primary-purple-dark);
  }
}
