<div class="toolbar">
    <div class="toolbar-title">
        <h1>Invoices</h1>
        <p class="desktop-title">There are 7 total invoices</p>
        <p class="mobile-title">7 invoices</p>
    </div>

    <div class="right">
        <button class="filter">
            <div class="filter-text">Filter <span>by status</span></div>
            <img src="assets/images/icon-arrow-down.svg" />
        </button>

        <button class="new-invoice">
            <img src="assets/images/icon-plus.svg" />
            <div>New Invoice</div>
        </button>

    </div>
</div>