@mixin positionWithJustify($justify: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
}

@mixin position($direction: row, $gap: 0px) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin button {
  background-color: transparent;
  text-decoration: none;
  outline: none;
  border: none;
  display: inline-block;
}
@mixin actionButton($color: #7c5dfa) {
  border-radius: 40px;
  padding: 10px 20px;
  background-color: $color;
  color: #ffffff;
}
@mixin breakpoint($breakpoint: 0px) {
  @media (max-width: $breakpoint) {
    @content;
  }
}
