//theme colors
$dark-slate: #494e6e;
$primary-purple-dark: #7c5dfa;
$primary-purple-light: #9277ff;
$midnight-blue: #373b53;

//base sizing, spaces, borders
$sidebar-width: 103px;
$settings-height: 137px;
$base-border-radius: 20px;
$base-border-thickness: 1px;
$base-padding: 20px;
$base-margin: 20px;
