@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.invoices-wrapper {
  @include pagesWrapper;

  .invoicesList {
    width: 100%;
    height: calc(100% - #{$invoice-toolbar-height});
    @include positionWithJustify(center, column);
  }
  .invoiceCards {
    width: 100%;
    @include position(column, $base-gap);
    align-items: center;

    a {
      @include linkStyle;
    }
  }
}
