<div>
    <div class="invoices-wrapper">
        <div class="toolbar">
            <div class="toolbar-title">
                <h1>Invoices</h1>
                <p class="desktop-title">There are <span>{{totalInvoices}}</span> total invoices</p>
                <p class="mobile-title">{{totalInvoices}} invoices</p>
            </div>

            <div class="right">
                <button class="filter">

                    <div class="custom-select" (click)="toggleDropdown()">
                        <div class="selected-option">
                            <span>Filter by status</span>
                            <img src="assets/images/icon-arrow-down.svg" />
                        </div>
                        <ul class="dropdown" *ngIf="isDropdownOpen" (click)="$event.stopPropagation()">
                            <li (click)="filter('draft')">Draft</li>
                            <li (click)="filter('paid')">Paid</li>
                            <li (click)="filter('pending')">Pending</li>
                        </ul>
                    </div>

                </button>

                <button class="new-invoice" (click)="onCreateNewInvoice()">
                    <img src="assets/images/icon-plus.svg" />
                    <div>New Invoice</div>
                </button>

            </div>
        </div>

        <div class="invoicesList">
            @for (invoice of invoices; track invoice.id) {

            <div class="invoiceCards">
                <a [routerLink]="['/invoices', invoice.id]">
                    <app-invoice-card [invoice]="invoice"></app-invoice-card>
                </a>
            </div>

            }
            @empty {
            <img src="assets/images/illustration-empty.svg" />
            }
        </div>

    </div>
    <router-outlet name="modal"></router-outlet>
</div>