@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.invoices-wrapper {
  @include pagesWrapper;

  .toolbar {
    width: 100%;
    min-height: $invoice-toolbar-height;
    padding: 0 $base-padding;
    @include positionWithJustify(space-between);

    .toolbar-title {
      height: 100%;
      @include positionWithJustify(center, column);

      h1 {
        width: 100%;
      }
      p {
        width: 100%;
      }
      .mobile-title {
        display: none;
      }

      @include breakpoint($mb-width) {
        .desktop-title {
          display: none;
        }
        .mobile-title {
          display: block;
        }
      }
    }

    .right {
      @include position(row, $base-gap);
      align-items: center;
    }

    .filter {
      @include button;
      @include position(row, $base-gap);
      align-items: center;

      .filter-text {
        font-size: $base-font-size * 1.2;
        font-weight: bold;
      }

      img {
        width: 10px;
        height: 100%;
      }

      @include breakpoint($mb-width) {
        span {
          display: none;
        }
      }
    }

    .new-invoice {
      @include button;
      @include actionButton($primary-purple-dark);
      @include position(row, $base-gap * 2);
      align-items: center;
      font-size: $base-font-size * 1.2;
      font-weight: bold;

      img {
        padding: $base-padding;
        border-radius: 50%;
        background-color: $white;
      }
    }
  }

  .invoicesList {
    width: 100%;
    height: calc(100% - #{$invoice-toolbar-height});
    @include positionWithJustify(center, column);
  }
  .invoiceCards {
    width: 100%;
    @include position(column, $base-gap);
    align-items: center;

    a {
      @include linkStyle;
    }

    button {
      @include button;
    }
  }
}
