@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;

  .main-content {
    width: 100%;
    height: 100%;
    position: relative;
    @include position(center);
    justify-content: center;
    background-color: #f9fafe;
  }

  @include breakpoint(720px) {
    @include position(column, $base-gap);
  }
}
