<div class="overlay">
    <div class="wrapper">
        <div class="main-content">
            <h1>Confirm Deletion</h1>
            <p>Are you sure you want to delete <span></span>? This action cannot be undone</p>

            <div class="actionBtn">
                <button class="cancel" (click)="onCancel()">
                    Cancel
                </button>
                <button class="delete" (click)="onConfirmDelete()">
                    Delete
                </button>

            </div>
        </div>


    </div>

</div>