@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "sass:math";

.sidebar {
  width: $sidebar-width;
  min-height: 100%;
  background-color: $dark-slate;
  border-bottom-right-radius: $base-border-radius;
  border-top-right-radius: $base-border-radius;
  padding-bottom: $base-margin;

  @include positionWithJustify(space-between, column);

  @include breakpoint(720px) {
    @include positionWithJustify(space-between, row);
    width: 100%;
    min-height: $tb-sidebar-height;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-bottom: 0;
  }

  @include breakpoint(420px) {
    width: 100%;
  }

  .logo-container {
    width: $sidebar-width;
    min-height: $sidebar-width;
    background-color: $primary-purple-dark;
    border-bottom-right-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
    position: relative;
    @include positionWithJustify;

    @include breakpoint(720px) {
      width: $tb-sidebar-height;
      min-height: $tb-sidebar-height;
      min-height: $tb-sidebar-height;
    }

    .bottom-half {
      background-color: $primary-purple-light;
      border-top-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
      height: math.div($sidebar-width, 2);
      width: 100%;
      position: absolute;
      bottom: 0;
    }

    img {
      z-index: 1;
      width: 40px;
      height: 40px;
    }
  }

  .settings {
    width: $sidebar-width;

    @include breakpoint(720px) {
      @include positionWithJustify(space-between, row);
      width: 50%;
      min-height: $tb-sidebar-height;
    }

    .theme-switch {
      padding-bottom: $base-padding;
      width: $sidebar-width;
      @include positionWithJustify;

      @include breakpoint(720px) {
        min-height: 100%;
        padding: 0;
        padding-bottom: 0;
        padding-left: $base-padding;
        padding-right: $base-padding;
      }
    }

    .line {
      width: 100%;
      height: 1px;
      border: $base-border-thickness solid $line-color;

      @include breakpoint(720px) {
        height: $tb-sidebar-height;
        width: 1px;
      }
    }

    .avatar-container {
      padding-top: $base-padding;
      @include positionWithJustify;

      img {
        border-radius: 50%;
      }

      @include breakpoint(720px) {
        padding-top: 0;
        padding-left: $base-padding;
        padding-right: $base-padding + 20px;
      }
    }
  }
}
